<h1 fxLayout fxLayoutAlign="center">Add New Product</h1>
<div class="container" fxLayout fxLayoutAlign="center">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveProduct()" #productForm="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Image link"  type="text" class="form-control" [(ngModel)]="product.imagePath" name="imagePath" required>
              </mat-form-field>         
          </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" type="text" class="form-control" [(ngModel)]="product.title" name="title" required>
            </mat-form-field>         
        </div>

          <mat-form-field>
              <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="5"
                        matAutosizeMaxRows="15" type="text" class="form-control" [(ngModel)]="product.description" name="description" required></textarea>
            </mat-form-field>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Price" type="number" class="form-control" [(ngModel)]="product.price" name="price" required>
              </mat-form-field>         
          </div>
        <div class="form-group">
            <button mat-raised-button color="accent" type="submit" [disabled]="!productForm.form.valid">Save Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
