.thumbnail {
    height: 250px;
    width: 250px;
}

.example-card {
    max-width: 400px;
    
  }

  .pclass {
    font-family: fantasy;
    height:150px;
    
}
.title1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    font-style: italic;
    font-size: 20px;
}
