
<div class="container">
    <h1>Product List
    <button mat-raised-button [routerLink]="['/product-create']" color="accent" class="btn pull-right">
      Add New Product
     </button>
</h1>
      <div *ngFor="let product of products">
  <div class="col-sm-6 col-md-4">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2 class="title1">{{product.title}}</h2></mat-card-title>
      
    </mat-card-header>
    <img mat-card-image class="thumbnail" src="{{ product.imagePath }}" alt="">
    <mat-card-content>
      <p class="pclass">
          {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/product-details', product._id]">Show Detail</button>
      <button mat-raised-button color="primary">${{product.price}}</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>